* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f293a;
    flex-direction: column;
}

h2{
    font-size: 2em;
    color: #0ef;
}

button{
    background: transparent;
    width: 15em;
    height: 3em;
    border-radius: 30em;
    cursor: pointer;
    font-size: 1em;
    color: #0ef;
    font-weight: 600;
    margin: 20px 0 20px;
    border: 2px solid #0ef;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

button::before{
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to 
    right, #ffffff4d 0%, #0ef 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before{
    width: 15em;
}

button:hover{
    color: #1f293a;
}

.dvs{
    background: transparent;
    border: 2px solid #55608f;
    outline: none;
    border-radius: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2em;
}

.dvs3{
    background: transparent;
    border: 2px solid #55608f;
    outline: none;
    border-radius: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10em;
}

.div-img{
    display: flex;
    align-items: center;
    display: none;
}

#div_tbl{
    display: none;
}

.div-img2{
    display: flex;
    align-items: center;
    border: 2px solid #55608f;
    flex-direction: column;
    margin: 10px;
    border-radius: 40px;
}

img{
    width: 80%;
    margin-bottom: 20px;
}

.dvs2{
    background: transparent;
    outline: none;
    border-radius: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 2em;
}

table{
    margin: 20px;
    font-weight: 100;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px #0000001a;
}

table:hover{
    cursor: pointer;
}

td{
    background-color: #ffffff33;
    padding: 15px;
    color: #fff;
    text-align: left;
}

thead td{
    background-color: #55608f
}
